body {
    width: 1440px;
    padding: 0;
    margin: 0 auto;

    text-align: center;

    font-family: 'Montserrat', sans-serif;
    color: #434242;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;

    clip: rect(0, 0, 0, 0);
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    min-height: 167px;
    background-color: tranparent;
}

.header-wrapper {
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.logo {
    position: relative;
}

.logo-wrapper {
    padding-left: 124px;
}

.navigation {
    font-size: 14px;
    font-weight: 600;
    padding-left: 77px;
}

.navigation_item {
    padding-right: 30px;
    text-transform: uppercase;
}

.navigation_item a:hover, .number:hover {
    color: #FDAF3A;
}

label:hover {
    cursor: pointer;
    color: #FDAF3A;
}

.number {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 77px;
    height: 20px;
}

.firstScreen-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 879px;
    background: url(../img/bg_image.jpg) 50% no-repeat;
    z-index: -1;
}

.firstScreen-slider {
    font-size: 18px;
    font-weight: 700;
    color: white;
    position: relative;
    margin-top: 135px;
    margin-left: 80%;
    width: 205px;
    display: flex;
    justify-content: space-between;
}

.slider-item--first {
    margin-left: 6px;
}

.slider-item--second {
    margin-left: 160px;
}

#backgroundFirst:checked ~ .firstScreen-slider .slider-item--first, #backgroundSecond:checked ~ .firstScreen-slider .slider-item--second {
    color: #FDAF3A;
}

#backgroundFirst:checked ~ .firstScreen-background {
  background: url(../img/bg_image.jpg) 50% no-repeat;
  transition: background-image 0.5s ease;
}

#backgroundSecond:checked ~ .firstScreen-background {
    background: url(../img/bg_image2.jpg) 50% no-repeat;
    transition: background-image 0.5s ease;
}

.progress {
    background: white;
    border-radius: 2px;
    position: absolute;
    top: 25px;
    left: 5px;
    padding: 0;
    height: 4px;
    width: 205px;
}

.progress-value {
    border-radius: 10px;
    background: #F09534;
    height: 4px;
    width: 0;
}

.progress-animation {
    animation: load 15s normal forwards;
    animation-iteration-count: infinite;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
}

.lead {
    position: relative;
    width: 935px;
    padding-top: 215px;
    text-align: left;
    margin-left: 211px;
}

.icon-scroll,
.icon-scroll:before,
.icon-scroll::after {
    position: absolute;
    left: 50%;
    top: 820px;
}

.icon-scroll {
    width: 27px;
    height: 43px;
    margin-left: -20px;
    bottom: 10px;
    margin-top: -35px;
    border: 2px solid #fff;
    border-radius: 25px;
}

.icon-scroll:before {
    content: "";
    width: 3px;
    height: 3px;
    background: #fff;
    margin-left: -1px;
    top: 14px;
    border-radius: 2px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

.icon-scroll:after {
    content: "";
    width: 3px;
    height: 6px;
    background: #fff;
    margin-left: -1px;
    top: 6px;
    border-radius: 2px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}
@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(26px);
    }
}

h1 {
    font-size: 60px;
    font-weight: 700;
    color: white;

    width: 935px;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 14px;
    font-weight: 500;
    text-align: left;

    min-height: 36px;

    padding-top: 10px;
    padding-left: 18px;
    margin: 0;
}

.button {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #FF9900;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button--consultation {
    margin-left: 28px;
    width: 180px;
    height: 50px;
    text-transform: uppercase;
}

.button--learnMore {
    display: inline-block;
    font-size: 18px;
    width: 253px;
    margin-top: 42px;
    padding-top: 21px;
    padding-bottom: 20px;
}

.button--tabs {
    padding: 10px 27px 12px 26px;
    background-color: #F7F7F7; 
    color: #9D9D9D;
    margin-right: 14px;
}

.button:hover, .button--selected {
    background-color: #FDAF3A;
    color: white;
    border-color: #FDAF3A;
}

.products {
    margin-top: 328px;
    margin-bottom: 162px;
}

.products-wrapper {
    position: relative;
}

.tabs {
    margin: 0 auto;
    margin-top: 39px;
    justify-content: center;
}

.swiper-container {
    width: 1172px;
    margin-top: 60px;
}

.catalog {
    width: 1172px;
    margin-left: 45px;
}

.catalog .swiper-slide {
    width: 263px !important;
    display: flex;
    flex-direction: column;
}

.swiper-slide:hover {
    box-shadow: 0px 4px 30px rgba(67, 66, 66, 0.15);
}

.swiper-slide:hover .card-info {
    background-color: #FDAF3A;
    color: white;
    border-color: #FDAF3A;
}

.swiper-slide:hover .properties-list__item--capacity::before {
    background-image: url("../img/svg/capacityColored.svg");
}

.swiper-slide:hover .properties-list__item--ip::before {
    background-image: url("../img/svg/ipColored.svg");
}

.swiper-slide:hover .properties-list__item--luminosity::before {
    background-image: url("../img/svg/luminosityColored.svg");
}

.swiper-slide:hover .properties-list__item--temperature::before {
    background-image: url("../img/svg/temperatureColored.svg");
}

.properties-list {
    font-size: 14px;
    font-weight: 500;
    color: #AAAAAA;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    margin-top: 6px;
}

.properties-list__item {
    min-height: 30px;
    width: 32%;
    padding-left: 39px;
}

.properties-list__item::before {
    position: absolute;
    content: "";
    background-size: cover;
}
.properties-list__item--capacity::before {
    background-image: url("../img/svg/capacity.svg");
    top: 249px;
    left: 16px;
    width: 17px;
    height: 17px;
}

.properties-list__item--ip::before {
    background-image: url("../img/svg/ip.svg");
    top: 249px;
    left: 156px;
    width: 17px;
    height: 17px;
}

.properties-list__item--luminosity::before {
    background-image: url("../img/svg/luminosity.svg");
    top: 277px;
    left: 16px;
    width: 17px;
    height: 17px;
}

.properties-list__item--temperature::before {
    background-image: url("../img/svg/temperature.svg");
    top: 277px;
    left: 156px;
    width: 17px;
    height: 17px;
}

.swiper-button {
    position: absolute;
    top: 47%;
    margin: -15px 0 0 0;
    width: 50px; 
    height: 26px;
    background-image: url("../img/svg/leftSwipe.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button:hover {
    background-image: url("../img/svg/leftSwipeHover.svg");
}

.swiper-button--left {
    left: 68px;
}

.swiper-button--right {
    right: 68px;
    transform: rotate(180deg);
}

.card-info {
    color: #AAAAAA;;
    width: 100%;
    border: 1px solid #AAAAAA;;
    padding-top: 11px;
    padding-bottom: 17px;
}